<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thn.erp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonActivityTheme">
        <activity android:name=".UserGuideActivity"
            android:theme="@style/NoTitleFullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".user.LoginRegisterActivity"></activity>
        <activity android:name=".user.ForgetPasswordActivity"></activity>
        <activity android:name=".overview.usermanage.UserManageActivity"></activity>
        <activity android:name=".overview.usermanage.AddCustomActivity"></activity>
        <activity android:name=".overview.usermanage.EditCustomerClassActivity"></activity>
        <activity android:name=".sale.DXOrderActivity"></activity>
        <activity android:name=".sale.SelectCustomerActivity"></activity>
        <activity android:name=".sale.CreateOrderActivity"></activity>
        <activity android:name=".sale.SelectGoodsActivity"></activity>
        <activity android:name=".sale.SelectAddressActivity"></activity>
        <activity android:name=".sale.AddNewAddressActivity"></activity>
        <activity android:name=".sale.ManageAddressActivity"></activity>

        <!-- 仓库管理 -->
        <activity android:name="com.thn.erp.more.repository.RepositoryManageActivity" />
        <activity android:name="com.thn.erp.more.repository.LookRepositoryActivity" />
        <activity android:name="com.thn.erp.more.repository.AddRepositoryActivity" />

        <!-- 供应商管理 -->
        <activity android:name="com.thn.erp.more.supplier.SupplierManageActivity"/>
        <activity android:name="com.thn.erp.more.supplier.SupplierAddActivity"/>
        <activity android:name="com.thn.erp.more.supplier.SupplierLookActivity"/>

        <activity android:name="com.thn.erp.more.DemoActivity"/>
        <activity android:name="com.thn.erp.more.ToolsActivity"/>
        <activity android:name="com.thn.erp.more.SettingActivity"/>
        <activity android:name="com.thn.erp.more.AccountManageActivity"/>

        <!-- 客户管理 -->
        <activity android:name="com.thn.erp.overview.CustomerManageActivity" />
        <activity android:name="com.thn.erp.overview.AddCustomerActivity" />
        <activity android:name="com.thn.erp.overview.ChooseCategoryActivity" />
        <activity android:name="com.thn.erp.overview.AddCategoryActivity" />

        <!-- 商品 -->
        <activity android:name="com.thn.erp.goods.GoodsDetailsActivity" />
        <activity android:name="com.thn.erp.goods.brand.GoodsBrandActivity" />
        <activity android:name="com.thn.erp.goods.category.GoodsCategoryActivity" />
        <activity android:name="com.thn.erp.goods.GoodsAddActivity" />
        <activity android:name="com.thn.erp.album.ImageSelectActivity" />
        <activity android:name="com.thn.erp.goods.ImageCropActivity" />

    </application>
</manifest>